Repository lightkurve/lightkurve, pull requests merged in 2019-01, with the labels that each got.

#387 Increase test coverage periodogram
  lightkurve/periodogram.py
  lightkurve/tests/test_periodogram.py
Labels: approved-to-merge

#360 Overhaul the tutorials, improve directory structure visibility, add new content, link headers
  docs/source/conf.py
  docs/source/tutorials/01-lightcurve-files.ipynb
  docs/source/tutorials/01-target-pixel-files.ipynb
  docs/source/tutorials/01-using-the-periodogram-class.ipynb
  docs/source/tutorials/01-what-are-lightcurves.ipynb
  docs/source/tutorials/02-how-to-make-a-supernova-lightcurve.ipynb
  docs/source/tutorials/02-how-to-recover-the-first-tess-candidate.ipynb
  docs/source/tutorials/02-how-to-use-lightkurve-for-asteroseismology.ipynb
  docs/source/tutorials/02-recover-a-planet.ipynb
  docs/source/tutorials/03-appending-lightcurves.ipynb
  docs/source/tutorials/03-cutting-out-tpfs-from-tess-ffis.ipynb
  docs/source/tutorials/03-how-to-use-prf-photometry.ipynb
  docs/source/tutorials/03-making-custom-apertures.ipynb
  docs/source/tutorials/03-making-fits-files.ipynb
  docs/source/tutorials/04-how-to-detrend.ipynb
  docs/source/tutorials/04-identify-rolling-band.ipynb
  docs/source/tutorials/04-interact-with-lightcurves-and-tpf.ipynb
  docs/source/tutorials/04-removing-cbvs.ipynb
  docs/source/tutorials/04-replicate-vanderburg-2014-k2sff.ipynb
  docs/source/tutorials/04-replicate-vanderburg-2014-lightkurve.ipynb
  docs/source/tutorials/1.02-target-pixel-files.ipynb
  docs/source/tutorials/1.03-what-are-lightcurves.ipynb
  docs/source/tutorials/1.04-lightcurve-files.ipynb
  docs/source/tutorials/1.06-using-the-periodogram-class.ipynb
  docs/source/tutorials/2.01-how-to-detrend.ipynb
  docs/source/tutorials/2.03-appending-lightcurves.ipynb
  docs/source/tutorials/2.04-removing-cbvs.ipynb
  docs/source/tutorials/2.05-making-custom-apertures.ipynb
  docs/source/tutorials/2.06-identify-rolling-band.ipynb
  docs/source/tutorials/2.07-masking-data.ipynb
  docs/source/tutorials/2.08-making-fits-files.ipynb
  docs/source/tutorials/2.09-how-to-use-lightkurve-for-asteroseismology.ipynb
  docs/source/tutorials/2.10-how-to-make-a-supernova-lightcurve.ipynb
  docs/source/tutorials/2.10-how-to-use-prf-photometry.ipynb
  docs/source/tutorials/README.md
  docs/source/tutorials/cutting-out-tpfs-from-tess-ffis.ipynb
  docs/source/tutorials/ep60021426alldiagnostics.csv
  docs/source/tutorials/how-to-recover-the-first-tess-candidate.ipynb
  docs/source/tutorials/motion-correction/replicate-vanderburg-2014-k2sff.ipynb
  docs/source/tutorials/motion-correction/replicate-vanderburg-2014-lightkurve.ipynb
  docs/source/tutorials/quickstart.ipynb
  docs/source/tutorials/section1.rst
  docs/source/tutorials/section2.rst
  docs/source/tutorials/section3.rst
  docs/source/tutorials/section4.rst
Labels: approved-to-merge, tutorial

#400 Change the documentation layout (new sphinx theme)
  docs/kurvian/layout.html
  docs/kurvian/static/css/theme.css
  docs/kurvian/theme.conf
  docs/source/.nojekyll
  docs/source/about/citing.rst
  docs/source/about/contributing.rst
  docs/source/about/developer.rst
  docs/source/about/index.rst
  docs/source/about/install.rst
  docs/source/about/other_software.rst
  docs/source/api/index.rst
  docs/source/api/lightcurve.rst
  docs/source/conf.py
  docs/source/index.rst
  docs/source/quickstart.ipynb
  docs/source/tutorials/index.rst
  docs/source/tutorials/section1.rst
  docs/source/tutorials/section2.rst
  docs/source/tutorials/section3.rst
  docs/source/tutorials/section4.rst
Labels: docs

#401 A Bokeh Widget to Interactively Find Planets with BLS
  lightkurve/interact_bls.py
  lightkurve/lightcurve.py
  lightkurve/tests/test_interact_bls.py
Labels: approved-to-merge
